.tweet{
    width:50vw;
    height:100px;
    background: #343A40;
    border-radius: 6px;
    margin-bottom:1%;
    color:white;
    font-size: 14px;
}
.contentContainer{
    overflow: auto;
}
.greyText{
    color:#6C757D;
}


@media screen and (max-width:500px){
    .greyText{
        flex-direction: column;
        font-size: 10px;
    }
}