#headerBar{
    width: 80%;
    top: 0px;
    background: #343A40;
    border-radius: 6px;
    display:flex;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    justify-content: flex-start;
    align-items: center;
    height:50px;
}


#homeTab{
    text-decoration: none;
    width: 38px;
    height: 16px;
    top: 19px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.5);
    margin:2%;
}
#profileTab{
    margin:2%;
    text-decoration: none;
    width: 41px;
    height: 16px;
    top: 19px;
    line-height: 16px;
    display: flex;
    align-items: center;
    
    color: rgba(255, 255, 255, 0.5);
}
.signOut{
    width: auto;
    height: auto;
    display:flex;
    text-align: center;
}

#homeTab:hover,#profileTab:hover,#welcomeTab:hover{
    text-decoration: underline;
}

.selected{
    color:white !important;
}

#proPic{
    height:40px;
    width:40px;
    border-radius: 50%;
    border:1px solid white;
}