#newTweetBox{
    background-color: transparent;
    width:50%;
    height:180px;
    color:white;
    padding:1%;
    resize: none;
    font-size: 16px;
    line-height: 19px;
    border-radius: 6px;
    position:relative;
}

#tweetButton{
    color:white;
    position: absolute;
    top: 205px;;
    height: 40px;
    right:26%;
    background: #007BFF;
    border-radius: 4px;
    font-size: 16px;
}

#exceedingLength{
    color: #721C24;
    position: absolute  ;
    top: 33%;
    height: 40px;
    border-radius: 4px;
    font-size: 16px;
    background: #F8D7DA;
    border: 1px solid #F5C6CB;
    box-sizing: border-box;
    border-radius: 4px;
    left:26%;
    display:flex;
    flex-wrap: wrap;
}

@media screen and (max-width:950px){
    #tweetButton{
        top:192px;
    }
    #exceedingLength{
        top:31%;
        height:auto;
        max-width: 150px;
        font-size: 12px;
    }
}